
body {
min-height: 100%;


background: linear-gradient(270deg, #042b21, #010938);
background-size: 400% 400%;

-webkit-animation: AnimationName 46s ease infinite;
-moz-animation: AnimationName 46s ease infinite;
animation: AnimationName 46s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 73%}
    50%{background-position:100% 28%}
    100%{background-position:0% 73%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 73%}
    50%{background-position:100% 28%}
    100%{background-position:0% 73%}
}
@keyframes AnimationName {
    0%{background-position:0% 73%}
    50%{background-position:100% 28%}
    100%{background-position:0% 73%}
}


}
html{
  min-height: 100%;

}

:focus {
  outline:none;border:3px solid red;
}


#titleHeader{
  text-align: center;
}



.btn {
  background: transparent;
  border: solid;
  border-radius: 10px;
  font-size: 20px;
}

.edit {
  color: white;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3px;
  border-color: #ba6a01;
  background-color: #ba6a01;
  padding-left: 10px;
  padding-right: 10px;
}

.mat-sidenav-container {
  color: white;
  font-size: 18px;
}

#rootContainer {
  background-image: url('../../build/images/wood-back.png');
}


.mat-sidenav.mat-sidenav-push{
  background: transparent;
  width: 75%;
}

.add-animal{
  background-color: transparent;
}

.mat-card{
  background: none;
  color: white;
  border-bottom: 4px solid white;

}
.mat-card-title{
  font-size: 32px !important;
}

.speciesDisplay{
  font-size:24px;
}

md-card-content.mat-card-content{
  margin-top: 1em;
  line-height: 1.5;
  letter-spacing: 2px;
  font-size: 24px;
}

.gender {
  font-size: 30px;

}
