
body {
min-height: 100%;


background: linear-gradient(270deg, #042b21, #010938);
background-size: 400% 400%;

-webkit-animation: AnimationName 46s ease infinite;
-moz-animation: AnimationName 46s ease infinite;
animation: AnimationName 46s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 73%}
    50%{background-position:100% 28%}
    100%{background-position:0% 73%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 73%}
    50%{background-position:100% 28%}
    100%{background-position:0% 73%}
}
@keyframes AnimationName {
    0%{background-position:0% 73%}
    50%{background-position:100% 28%}
    100%{background-position:0% 73%}
}


}
html{
  min-height: 100%;

}

:focus {
  outline:none;border:3px solid red;
}


#titleHeader{
  text-align: center;
}



.btn {
  background: transparent;
  border: solid;
  border-radius: 10px;
  font-size: 20px;
  color: yellow;
  border-color: yellow;
}

.edit {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
}

.mat-sidenav-container {
  color: white;
  font-size: 18px;
}

#rootContainer {
  background-image: url('../../build/images/wood-back.png');
}


.mat-sidenav.mat-sidenav-over{
  background: #010938;
  width: 33%;
}

.add-animal{
  background-color: transparent;
}

.mat-card{
  background: none;
  color: white;
  border-bottom: 4px solid white;

}
.mat-card-title{
  font-size: 32px !important;
}

.speciesDisplay{
  font-size:24px;
}

md-card-content.mat-card-content{
  margin-top: 1em;
  line-height: 1.5;
  letter-spacing: 2px;
  font-size: 24px;
}

.ageFilter {
  display: inline-flex;
  flex-direction: column;
}
.ageRadioButton {
  margin:10px;
  color: white;
  font-size: 30px;
}

.mat-radio-label-content {
  color: white;
}

.mat-radio-outer-circle{
  border-color: white;
  height: 30px;
  width: 30px;
}

.like{
  color: #f94fff;
}

.dislike{
  color: red;
}

.mat-slider-vertical{
height: 156px;
}

#filterColumn{
  margin-top: 20px;
}

.input-field label{
  color: white;
}

.input-field label:not(.label-icon).active {
  font-size: 1rem;
  color: yellow;
}

.sexRadio{
  margin-bottom:60px;
  margin-top: 20px;
  text-align: center;
}
